<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h2>Fraud Transcation Detection</h2>
     
   {{ prediction_text }}
    <br>
    <br>
     
    <form action="{{ url_for('predict')}}"method="post">
        
        <input type="number" name="Average Amount/transcation/day"  placeholder="Avg Amount" required="required" />
        <input type="number" name="transcation amount" placeholder="transcation Amount" required="required" />
        <input type="number" name="Is declined" placeholder=" Is declined 1/0 yes->1 No->0" required="required" />
        <input type="number" name="Total no of transcation/day" placeholder="Total transcation per day" required="required" />
        <input type="number" name="isForeignTransaction" placeholder="isForeignTransaction 1/0 yes->1 No->0" required="required" />
        <input type="number" name="isHighRiskCountry" placeholder="isHighRiskCountry 1/0 yes->1 No->0" required="required" />
    	  <input type="number" name="Daily_chargeback_avg_amt" placeholder="Daily_chargeback_avg_amt" required="required" />
    	  <input type="number" name="6_month_avg_chbk_amt" placeholder="6_month_avg_chbk_amt" required="required" />
    	  <input type="number" name="6-month_chbk_freq" placeholder="6-month_chbk_freq" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <!-- <br> -->
   <!-- <br>
   {{ prediction_text }} -->

 </div>


</body>
</html>
